APP_URL=https://second-life-maternity-hud-t2b3.onrender.com
DATABASE_URL=postgresql://postgres.yqcjkmeipuxmrjputenv:BabiLove2026!@aws-0-ca-central-1.pooler.supabase.com:5432/postgres
NODE_VERSION=22
SL_API_SECRET=2175039403870ed15116d0dcf330095af3f6a398e83bca01